spring:
  application:
    name: "Movie Database API"
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mariadb://localhost:53306/assignment}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

server:
  port: 8080

api:
  normalize-genres: ${API_NORMALIZE_GENRES:true}
